* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
  font-size: 100%;
  /*   100% = 16px */
}

main {
  display: flex;
  flex-direction: column;
  justify-contents: center;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d3d3d3;
  height: 6vh;
  width: 100vw;
}
#nav-title-logo {
  margin: 0 1em;
}
#nav-items {
  margin: 0 1em;
}
.item {
  display: inline-block;
  margin: 0 1em;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* section: title */
#title {
  width: 100vw;
  background: #b0c4de;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome-message {
  text-align: center;
  font-size: 2rem;
}

.welcome-message:hover {
  color: blue;
  cursor: pointer;
}

/* section: content */
#contents,
#hided-contents {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hided-contents {
  display: none;
}

.section-title {
  height: 7vh;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-boxs {
  width: 80vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.content-box {
  background: #778899;
  width: 80vw;
  min-height: 20vh;
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  font-size: 1rem;
}

/* button */
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100vw;
}

button {
  background-color: #87ceeb; /* light blue */
  border: none;
  color: black;
  margin: 1em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  /*   border-radius: 0.5rem; */
}

button:hover {
  background-color: #ff6600;
  cursor: pointer;
}

/* RWD */
@media screen and (min-width: 992px) {
  .content-boxs {
    flex-flow: row nowrap;
    justify-content: space-around;
  }
}
